/*cabeçalho*/
header {
    background-color: aqua;
    font-weight: bold;
}

header img {
    height: 70px;
    width: 70px;
}

/*Conteudo principal*/


/*banner*/

/*Produtos vendidos*/
/*Rodapé*/

/*Botão Voltar topo*/

/* página de login  */


/* Formulário de cadastro*/

